{% include 'header.j2' %}
all:
  vars:
    UNIQUE_TAG: {{ UNIQUE_TAG }}
  children:
    physical_hosts:
      vars:
        network_interface: "{{ network.private_interface }}"
      hosts:
{% for host in groups['all'] %}
        {{ host }}:
          libvirt_addresses: "{{ network.base_ip }}.{{ hostvars[host].libvirt_suffix }}/{{ network.cidr }}"
          bridge_ip: "{{ network.base_ip }}.{{ hostvars[host].bridge_last_octet }}"
          vms:
{% for vm in hostvars[host].vms | default([]) %}
            - "{{ vm[0] }}"
{% endfor %}
{% endfor %}
    vms:
      hosts:
{% for vm in vm_info %}
        {{ vm.name }}:
          ansible_host: "{{ vm.ansible_host }}"
          group: "{{ vm.group }}"
          hdd_sizes: "{{ vm.hdd_sizes }}"
          mac_address: "{{ vm.mac_address }}"
          physical_host: "{{ vm.physical_host }}"
{% endfor %}
