{% include 'header.j2' %}
all:
  vars:
    UNIQUE_TAG: {{ UNIQUE_TAG }}
  children:
    physical_hosts:
      vars:
        artifact_dir: "{{ artifact_dir }}"
        network:
          type: "{{ network.type }}"
{% if network.type == 'private' %}
          interface: "{{ network.interface }}"
{% elif network.type == 'wireguard' %}
          wg_base_ip: "{{ network.wg_base_ip }}"
          wg_cidr: "{{ network.wg_cidr }}"         
{% endif %}
      hosts:
{% for host in groups['all'] %}
        {{ host }}:
{% if hostvars[host].libvirt_suffix is defined %}
          libvirt_addresses: "{{ network.libvirt.base_ip }}.{{ hostvars[host].libvirt_suffix }}/{{ network.libvirt.cidr }}"
{% endif %}
{% if hostvars[host].bridge_last_octet is defined %}
          bridge_ip: "{{ network.libvirt.base_ip }}.{{ hostvars[host].bridge_last_octet }}"
          wireguard_ip: "{{ network.wg_base_ip}}.{{ hostvars[host].bridge_last_octet }}"
{% endif %}
          vms:
{% for vm in hostvars[host].vms | default([]) %}
            - "{{ vm[0] }}"
{% endfor %}
{% endfor %}
    vms:
      hosts:
{% for vm in vm_info %}
        {{ vm.name }}:
          ansible_host: "{{ vm.ansible_host }}"
          group: "{{ vm.group }}"
          hdd_sizes: "{{ vm.hdd_sizes }}"
          mac_address: "{{ vm.mac_address }}"
          physical_host: "{{ vm.physical_host }}"
{% if network.type == 'mvpnet' %}
          mpi_rank: {{ loop.index0 }}
          mvpnet_user: "{{ network.mvpnet_user }}"
          mvpnet_port: "{{ vm.mvpnet_port }}"
          ssh_keys: "{{ vm.ssh_keys }}"
          ssh_private_key: "{{ vm.ssh_private_key }}"
          source_image: "{{ vm.source_image }}"
          network_device: "{{ network.mvpnet_device }}"
{% endif %}
{% endfor %}
