{% include 'header.j2' %}
vm_name = [
{% for vm in vm_info %}
  {
    name             = "{{ vm.name }}"
    host             = "{{ vm.physical_host }}"
    mac_address      = "{{ vm.mac_address }}"
    machine          = "{{ vm.machine }}"
    memory           = "{{ vm.memory }}"
    netone           = "{{ vm.netone }}"
    nettwo           = "{{ vm.nettwo }}"
    {% if vm.hdd2_size != "none" and vm.hdd2_size|int != 0 %}
    second_disk_size = "{{ vm.hdd2_size }}"
    {% endif %}
    source_image     = "{{ vm.source_image }}"
    storage_pool     = "{{ vm.storage_pool }}"
    vcpu             = "{{ vm.vcpu }}"
    cloudinit        = <<EOT
#cloud-config
hostname: {{ vm.name }} 
preserve_hostname: false
hostname:  {{ vm.name }}
fqdn: {{ vm.name }}.{{ UNIQUE_TAG }}.tassi.local 

runcmd:
  - hostnamectl set-hostname {{ vm.name }} 
  - ip route add {{ network.wireguard.base_ip }}.0/{{ network.wireguard.cidr }} via {{ vm.libvirt_bridge }} 
{% for inner_vm in vm_info %}
  - echo "{{ inner_vm.ansible_host }} {{ inner_vm.name }}" >> /etc/hosts
{% endfor %} 
EOT
  },
{% endfor %}
]
