{% include 'header.j2' %}
all:
  vars:
    libvirt:
      interface: "{{ libvirt.interface }}"
      name: "{{ libvirt.name }}"
      base_ip: "{{ libvirt.base_ip }}"
      cidr: "{{ libvirt.cidr }}"
    bridge:
      interface: "{{ libvirt.interface }}"
