all:
  vars:
    UNIQUE_TAG: "{{ UNIQUE_TAG }}"
    install_playbook: "{{ playbooks.gold_install }}"
    kickstart_dir: "/tmp"
    libvirt_images: "{{ image_storage.libvirt }}"
    gold_vms:
{% set final_gold_vms = [] %}
{% if (gold_vms.individual | default([])) | length == 0 %}
{%   set _ = final_gold_vms.append(gold_vms.defaults) %}
{% else %}
{%   for vm in gold_vms.individual | default([]) %}
{%     set merged_vm = gold_vms.defaults | combine(vm, recursive=True) %}
{%     set _ = final_gold_vms.append(merged_vm) %}
{%   endfor %}
{% endif %}
{% for vm in final_gold_vms | map('combine', {}) | list %}
      - name: {{ vm.name | quote }}
        disk_size: {{ vm.disk_size }}
        group: {{ vm.group | quote }}
        iso: {{ vm.iso | quote }}
        memory: {{ vm.memory }}
        network:
          {{ vm.network | to_nice_yaml(indent=2) | indent(10, true) | trim }}
        os_variant: {{ vm.os_variant | quote }}
        root_pwd: {{ vm.root_pwd | quote }}
        ssh_keys: {{ vm.ssh_keys | quote }}
        qcow_file: {{ qcow2_dir | quote }}/{{ vm.name | quote }}.qcow2
        system:
          {{ vm.system | to_nice_yaml(indent=2) | indent(10, true) | trim }}
        timezone: {{ vm.timezone | quote }}
        vcpu: {{ vm.vcpu }}
{% endfor %}

