{% include 'header.j2' %}
vm_name = [
{% for vm in vm_info %}
  {
    name                 = "{{ vm.name }}"
    host                 = "{{ vm.physical_host }}"
    mac_address          = "{{ vm.mac_address }}"
    machine              = "{{ vm.machine }}"
    memory               = "{{ vm.memory }}"
    netone               = "{{ vm.netone }}"
    nettwo               = "{{ vm.nettwo }}"
    {% if vm.hdd_sizes | length > 0 %}
    extra_hdds = [
        {% for index in range(vm.hdd_sizes | length) %}
        { size = {{ vm.hdd_sizes[index] }}, label = "{{ UNIQUE_TAG }}.{{ index }}" }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
    {% endif %}
    source_image         = "{{ vm.source_image }}"
    storage_pool         = "{{ vm.storage_pool }}"
    vcpu                 = "{{ vm.vcpu }}"
    cloudinit_user_data  = <<EOT
#cloud-config
hostname: {{ vm.name }}
preserve_hostname: false
hostname:  {{ vm.name }}
fqdn: {{ vm.name }}.{{ UNIQUE_TAG }}.tassi.local

runcmd:
  - hostnamectl set-hostname {{ vm.name }}
  - systemctl daemon-reload
  - systemctl enable add-static-route.service
  - systemctl start add-static-route.service
  - echo "nameserver {{ vm.libvirt_bridge }}" >> /etc/resolv.conf

{# Add route back to WireGuard peers if WireGuard is enabled #}
{% if network.type == 'wireguard' %}
  - ip route add {{ network.wg_base_ip }}.0/{{ network.wg_cidr }} via {{ vm.libvirt_bridge }}
{% endif %}

{# Populate /etc/hosts with hostname to IP mappaings #}
{% for inner_vm in vm_info %}
  - echo "{{ inner_vm.ansible_host }} {{ inner_vm.name }}" >> /etc/hosts
{% endfor %}
{# Disable APR broadcast to test if it works #}
{# This breaks ability of host to ssh to VM #}
{#  - ip link set dev {{ vm.nettwo }} arp off #}
{# Populate ARP cache with permanent MAC address to IP mappaings #}
{% for inner_vm in vm_info if inner_vm.ansible_host != vm.ansible_host %}
  - ip neigh replace {{ inner_vm.ansible_host }} lladdr {{ inner_vm.mac_address }} dev {{ vm.nettwo }}
{% endfor %}
EOT
    cloudinit_network     = <<EON
network:
  version: 2
  ethernets:
    static-nic:
      match:
        macaddress: "{{ vm.mac_address }}"
      set-name: {{ vm.nettwo }}
      dhcp4: false
      addresses: [{{ vm.ansible_host }}/24]
EON
  },
{% endfor %}
]
