{%- include 'header.j2' -%}
{%- set ns = namespace(groups={}) -%}
{%- for vm in vm_info -%}
  {%- set vm_name = vm.name -%} 
  {%- set group_name = vm.group -%}
  {%- if group_name not in ns.groups -%}
    {%- set ns.groups = ns.groups | combine({ group_name: [] }) -%}
  {%- endif -%}
  {%- set _ = ns.groups[group_name].append({'name': vm_name, 'mvpnet_port' : vm.mvpnet_port, 'physical_host': vm.physical_host, 'ansible_host': vm.ansible_host}) -%}
{%- endfor -%}
          
all:      
  vars: 
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
    UNIQUE_TAG: "{{ UNIQUE_TAG }}"
    fstype: "{{ gold_vms.defaults.system.type }}"
    fsversion: "{{ gold_vms.defaults.system.version }}"
    networking: "{{ network.type }}" 
    image_dir: "{{ image_dir }}" 
  children:
{% for group, vm_list in ns.groups.items() %}
    {{ group }}:
      hosts:
{%   for vm in vm_list %}
        {{ vm.name }}:
{%     if network.type == 'mvpnet' %}
          ansible_host: "127.0.0.1"
          ansible_port: {{ vm.mvpnet_port }}
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyJump={{ vm.physical_host }}'
          mvpnet_ip: "{{ vm.ansible_host }}"
{%     else %}
          ansible_host: "{{ vm.ansible_host }}"
{%     endif %}
{%   endfor %}
{% endfor %}
