{% include 'header.j2' %}
all:
  vars:
    network_type: "{{ network.type }}"
    libvirt:
      name: "{{ libvirt.name }}"
      base_ip: "{{ libvirt.base_ip }}"
      cidr: "{{ libvirt.cidr }}"
{% if network.type == 'private' %}
      interface: "{{ interface_name }}"
{% elif network.type == 'wireguard' %}
    bridge:
      interface: "{{ interface_name }}"
{% endif %}
    wireguard:
      interface: "{{ wireguard.interface }}"
      cidr: "{{ wireguard.cidr }}"
      base_ip: "{{ wireguard.base_ip }}"
