all:
  vars:
    UNIQUE_TAG: {{ UNIQUE_TAG }}
  children:
    default:
      children:
        physical_hosts:
    physical_hosts:
      hosts:
{% for host in groups['all'] %}
        {{ host }}:
          wireguard_ip: "{{ network.wireguard.base_ip}}.{{ hostvars[host].wireguard_suffix }}"
          libvirt_addresses: "{{ network.libvirt.base_ip }}.{{ hostvars[host].libvirt_suffix }}/{{ network.libvirt.cidr }}"
          vms:
{% for vm in hostvars[host].vms | default([]) %}
            - "{{ vm[0] }}"
{% endfor %}
{% endfor %}
    vms:
      hosts:
{% for host in groups['all'] if hostvars[host].vms is defined %}
{% for vm in hostvars[host].vms %}
        {{ vm[0] }}:
          ansible_host: "{{ hostvars[host].network.libvirt.base_ip }}.{{ vm[4] }}"
          group: "{{ vm[1] }}"
          hdd1_size: "{{ vm[2] }}GB"
          hdd2_size: "{{ vm[3] }}GB"
          physical_host: "{{ host }}"
{% endfor %}
{% endfor %}

