
#version=RHEL8
text
%packages
@^minimal-environment
kexec-tools
%end  
lang en_US.UTF-8
network --bootproto={{ item.network.bootproto }} --device={{ item.network.device }} --nameserver=8.8.8.8 --{{ item.network.ipv6 }} --activate --onboot={{ item.network.onboot }}
network --hostname={{ item.name }}
cdrom
firstboot --enable
skipx
ignoredisk --only-use=vda
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=vda
autopart
clearpart --all --initlabel --drives=vda
timezone {{ item.timezone }} --isUtc --ntpservers={{ item.network.ntpservers | join(',') }}
rootpw --plaintext {{ item.root_pwd }}
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
%post
mkdir -p /root/.ssh
chmod 700 /root/.ssh
{% for key in lookup('file', item.ssh_keys).splitlines() %}
echo "{{ key }}" >> /root/.ssh/authorized_keys
{% endfor %}
chmod 600 /root/.ssh/authorized_keys
%end
reboot
