artifacts
build
scripts/__pycache__
scripts/wireguard/old
doc/images/*png

ansible.log

*.old

__pycache__

# Ignore kickstart_files 
scripts/kickstart_files/

# Ignore the entire output directory
scripts/output/

# But do not ignore files or directories that start with 'autotest'
!scripts/output/autotest*

# ignore terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform

# vim swap files
# *.swp
*.swo
*.swn
.*.swp
.*.swo
.*.swn
