#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ item.name }}
    password: "{{ item.root_pwd | password_hash('sha512') }}"
    username: {{ running_user | default('admin') }}
{% if instance_proxy is defined and instance_proxy %}
  proxy: http://proxy.pdl.cmu.edu:3128/
{% endif %}
  ssh:
    install-server: true
    authorized-keys:
{% for key in lookup('file', item.ssh_keys).splitlines() %}
{% if key.startswith('ssh-') %}
      - {{ key }}
{% endif %}
{% endfor %}
  packages:
    - build-essential
    - cmake
    - libntirpc-dev
    - libssl-dev
    - liblmdb-dev
    - pkg-config
    - git
  late-commands:
    - "mkdir -p /target/home/{{ running_user }}/.ssh"
    - |
        cat <<EOF > /target/home/{{ running_user }}/.ssh/id_rsa
{{ lookup('file', item.ssh_keypair) | indent(8, true) }}
        EOF
    - "chmod 600 /target/home/{{ running_user }}/.ssh/id_rsa"
    - "curtin in-target -- chown -R 1000:1000 /home/{{ running_user }}/.ssh"
    - "echo '{{ running_user }} ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/{{ running_user }}"
