digraph VM_Network {
    {% for host, host_data in hostvars.items() %}
    subgraph cluster_{{ host }} {
        label = <<B><U>Host: {{ host }}</U></B>>;
        style = filled;
        color = lightgrey;

        {% for vm in host_data.matching_vms.stdout_lines %}
        {% for ip_data in host_data.vm_ips.results %}
        {% if ip_data.item == vm %}
        "{{ vm }}_{{ host }}" [label="{{ vm }}\n{{ ip_data.stdout.split()[3] }}", shape=box];
        {% endif %}
        {% endfor %}
        {% endfor %}

        "{{ host_data.selected_wireguard }}_{{ host }}" [label="WireGuard: {{ host_data.selected_wireguard }}\nAllowed IPs: {{ host_data.wireguard_allowed_ips }}\nEndpoint: {{ host_data.wireguard_endpoint }}", shape=ellipse, color=blue];
        "{{ host_data.bridge_name }}_{{ host }}" [label="Bridge: {{ host_data.bridge_name }}\n{{ host_data.bridge_ip }}", shape=ellipse, color=green];
        "{{ host_data.valid_libvirt_network }}_{{ host }}" [label="Libvirt: {{ host_data.valid_libvirt_network }}\nRange: {{ host_data.libvirt_network_range }}", shape=note, color=orange];

        // uncomment the below to add routing info. I don't like it now though because takes too much space
        // "routing_info_{{ host }}" [label="Routing:\n{% for route in host_data.routing_info %}{{ route }}\n{% endfor %}", shape=plaintext, color=black];
    }
    {% endfor %}

    // Define WireGuard tunnel
    {% for host_a, host_data_a in hostvars.items() %}
        {% for host_b, host_data_b in hostvars.items() %}
            {% if host_a != host_b and host_a < host_b %}
            "{{ host_data_a.selected_wireguard }}_{{ host_a }}" -> "{{ host_data_b.selected_wireguard }}_{{ host_b }}" [dir=both, style=dashed];
            {% endif %}
        {% endfor %}
    {% endfor %}

    // Connect WireGuard interfaces to bridges
    {% for host, host_data in hostvars.items() %}
        "{{ host_data.bridge_name }}_{{ host }}" -> "{{ host_data.selected_wireguard }}_{{ host }}" [style=solid];
    {% endfor %}

    // Connect VMs to libvirt networks
    {% for host, host_data in hostvars.items() %}
        {% for vm in host_data.matching_vms.stdout_lines %}
        {% for ip_data in host_data.vm_ips.results %}
        {% if ip_data.item == vm %}
        "{{ vm }}_{{ host }}" -> "{{ host_data.valid_libvirt_network }}_{{ host }}" [style=solid, label="{{ ip_data.stdout.split()[0] }}"];
        {% endif %}
        {% endfor %}
        {% endfor %}
    {% endfor %}

    // Connect libvirt networks to bridges
    {% for host, host_data in hostvars.items() %}
        "{{ host_data.valid_libvirt_network }}_{{ host }}" -> "{{ host_data.bridge_name }}_{{ host }}" [style=dotted];
    {% endfor %}
}

