# Identity and Network
mds_id = {{ groups['mds'].index(inventory_hostname) + 1 }}
hostname = {{ target_ip }}
nfs_port = 2049
grpc_port = 50051

# Backend
catalogue_backend = rondb
catalogue_backend_conf = {{ lab_mds_conf_dir }}/rondb.conf

# Performance and Cache
worker_threads = 16
inline_enabled = false
lease_time_sec = 90
grace_period_sec = 0
ds_heartbeat_ms = 5000
prealloc_pool_size = 1024
inode_cache_size = 32768
transient_state_cache = true

# Cluster Membership (Unrolled by Jinja2)
cluster_size = {{ groups['mds'] | length }}
cluster_bind_addr = {{ target_ip }}
{% for mds in groups['mds'] %}
cluster_peer[{{ loop.index0 }}] = {{ hostvars[mds]['target_ip'] }}
{% endfor %}

# Data Server Specifications (Unrolled by Jinja2)
ds_count = {{ groups['ds'] | length }}
{% for ds in groups['ds'] %}
ds[{{ loop.index0 }}] = {{ hostvars[ds]['target_ip'] }}:/export/ds
{% endfor %}

# Storage Path Format
ds_mount_path_fmt = /mnt/ds%u
