[Unit]
Description=pnfs-mds lab daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# This is the "magic" line from the script that fixes library errors
Environment=LD_LIBRARY_PATH={{ lab_rondb_base }}/lib:{{ lab_rondb_base }}/lib/mysql
ExecStart=/usr/local/bin/pnfs-mds {{ lab_mds_conf_dir }}/mds.conf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
