[cluster]
user = {{ lab_user }}
source_dir = {{ lab_source_dir }}
build_dir = {{ lab_build_dir }}

rondb_base = {{ lab_rondb_base }}
rondb_link = {{ lab_rondb_base }}/link

rondb_tarball_url = {{ system.rondb_url }}
rondb_version = {{ lab_rondb_version }}

data_memory = 64G
transaction_memory = 2G
replicas = {{ lab_profile_multi_rondb_num_replicas }}

client_mount = {{ lab_client_mount }}
client_nconnect = 16

ds_export = {{ lab_ds_export_path }}
ds_export_subnet = {{ lab_ds_export_subnet }}
ds_nconnect = 1
ds_nfsd_threads = 32

rondb_data_dir = {{ lab_rondb_data_dir }}

[mds]
{% for host in active_mds_hosts %}
{{ hostvars[host]['ansible_fqdn'] }}  {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}

[ds]
{% for host in groups['ds'] %}
{{ hostvars[host]['ansible_fqdn'] }}  {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}

[clients]
{% for host in groups['clients'] %}
{{ hostvars[host]['ansible_fqdn'] }}  {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
