#!/usr/bin/env bash

LAB_USER="{{ lab_user }}"
LAB_SSH_OPTS=(
    -o BatchMode=yes
    -o StrictHostKeyChecking=no
    -o ConnectTimeout=8
    -o ServerAliveInterval=10
    -o ServerAliveCountMax=3
)

LAB_SOURCE_DIR="{{ lab_source_dir }}"
LAB_BUILD_DIR="{{ lab_build_dir }}"
LAB_BUILD_TYPE="Release"

LAB_BUILD_HOST_RONDB_BASE="{{ lab_rondb_base }}"
LAB_BUILD_HOST_RONDB_LINK="{{ lab_rondb_base }}/link"
LAB_REMOTE_RONDB_VERSION="{{ lab_rondb_version }}"
LAB_REMOTE_RONDB_TARBALL_URL="{{ system.rondb_url }}"
LAB_REMOTE_RONDB_BASE="{{ lab_rondb_base }}"
LAB_REMOTE_RONDB_LINK="{{ lab_rondb_base }}/link"

LAB_RONDB_SCHEMA_NAME="{{ lab_rondb_schema }}"
{% set mgm_host = groups['mds'][0] %}
LAB_RONDB_MGM_HOST="{{ hostvars[mgm_host]['ansible_fqdn'] }}"
LAB_RONDB_MGM_IP="{{ hostvars[mgm_host]['ansible_default_ipv4']['address'] }}"
LAB_RONDB_MGM_NODE_ID="65"
LAB_RONDB_MGM_PORT="1186"
LAB_RONDB_DATA_DIR="{{ lab_rondb_data_dir }}"
LAB_RONDB_DATA_MEMORY="64G"
LAB_RONDB_TRANSACTION_MEMORY="2G"

LAB_MDS_NFS_PORT="{{ lab_mds_nfs_port }}"
LAB_MDS_GRPC_PORT="{{ lab_mds_grpc_port }}"
LAB_MDS_CONF_DIR="{{ lab_mds_conf_dir }}"
LAB_MDS_RUN_DIR="{{ lab_mds_run_dir }}"
LAB_MDS_DS_MOUNT_FMT="/mnt/ds%u"

LAB_DS_HOSTS=(
{% for host in groups['ds'] %}
    "{{ hostvars[host]['ansible_fqdn'] }}"
{% endfor %}
)
LAB_DS_IPS=(
{% for host in groups['ds'] %}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endfor %}
)
LAB_DS_IDS=(
{% for host in groups['ds'] %}
    "{{ loop.index0 }}"
{% endfor %}
)
LAB_DS_EXPORTS=(
{% for host in groups['ds'] %}
    "{{ lab_ds_export_path }}"
{% endfor %}
)
LAB_DS_EXPORT_SUBNET="{{ lab_ds_export_subnet }}"
LAB_DS_EXPORT_OPTIONS="rw,async,no_subtree_check,no_root_squash,insecure"
LAB_DS_NCONNECT="1"
LAB_DS_NFSD_THREADS="32"

LAB_CLIENT_HOSTS=(
{% for host in groups['clients'] %}
    "{{ hostvars[host]['ansible_fqdn'] }}"
{% endfor %}
)
LAB_CLIENT_IPS=(
{% for host in groups['clients'] %}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endfor %}
)
LAB_CLIENT_MOUNT="{{ lab_client_mount }}"
LAB_CLIENT_NCONNECT="16"
LAB_CLIENT_MOUNTS=()
LAB_CLIENT_NCONNECTS=()
LAB_CLIENT_MDS_ASSIGNMENT="first"

LAB_PROFILE_DEFAULT="multi-mds"

LAB_PROFILE_SINGLE_MDS_HOSTS=("{{ hostvars[active_mds_hosts[0]]['ansible_fqdn'] }}")
LAB_PROFILE_SINGLE_MDS_IPS=("{{ hostvars[active_mds_hosts[0]]['ansible_default_ipv4']['address'] }}")
LAB_PROFILE_SINGLE_MDS_IDS=("1")
LAB_PROFILE_SINGLE_RONDB_DATA_HOSTS=("{{ hostvars[active_rondb_data_hosts[0]]['ansible_fqdn'] }}")
LAB_PROFILE_SINGLE_RONDB_DATA_IPS=("{{ hostvars[active_rondb_data_hosts[0]]['ansible_default_ipv4']['address'] }}")
LAB_PROFILE_SINGLE_RONDB_DATA_NODE_IDS=("1")
LAB_PROFILE_SINGLE_RONDB_NUM_REPLICAS="1"
LAB_PROFILE_SINGLE_RONDB_FREE_API_SLOTS="8"
LAB_PROFILE_SINGLE_MDS_WORKER_THREADS="48"
LAB_PROFILE_SINGLE_MDS_PREALLOC_POOL_SIZE="1000000"
LAB_PROFILE_SINGLE_TRANSIENT_STATE_CACHE="true"

# GETDEVICEINFO: advertise RDMA transport to clients
LAB_DS_TRANSPORT="tcp"
LAB_DS_RDMA_PORT="20049"

LAB_PROFILE_MULTI_MDS_HOSTS=(
{% for host in active_mds_hosts %}
    "{{ hostvars[host]['ansible_fqdn'] }}"
{% endfor %}
)
LAB_PROFILE_MULTI_MDS_IPS=(
{% for host in active_mds_hosts %}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endfor %}
)
LAB_PROFILE_MULTI_MDS_IDS=( {% for host in active_mds_hosts %}"{{ loop.index }}"{% if not loop.last %} {% endif %}{% endfor %} )

LAB_PROFILE_MULTI_RONDB_DATA_HOSTS=(
{% for host in active_rondb_data_hosts %}
    "{{ hostvars[host]['ansible_fqdn'] }}"
{% endfor %}
)
LAB_PROFILE_MULTI_RONDB_DATA_IPS=(
{% for host in active_rondb_data_hosts %}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endfor %}
)
LAB_PROFILE_MULTI_RONDB_DATA_NODE_IDS=( {% for host in active_rondb_data_hosts %}"{{ loop.index }}"{% if not loop.last %} {% endif %}{% endfor %} )
LAB_PROFILE_MULTI_RONDB_NUM_REPLICAS="{{ lab_profile_multi_rondb_num_replicas }}"
LAB_PROFILE_MULTI_RONDB_FREE_API_SLOTS="64"
LAB_PROFILE_MULTI_MDS_WORKER_THREADS="48"
LAB_PROFILE_MULTI_MDS_PREALLOC_POOL_SIZE="1000000"
LAB_PROFILE_MULTI_TRANSIENT_STATE_CACHE="true"
LAB_REMOTE_RONDB_DEB=""
