[ndb_mgmd]
NodeId=1
HostName={{ hostvars[groups['mds'][0]]['target_ip'] }}
DataDir={{ rondb_data }}/mgmd

[ndbd default]
{% set data_node_count = groups['mds'] | length - 1 %}
NoOfReplicas={{ 2 if (data_node_count is even and data_node_count > 0) else 1 }}
DataMemory=512M
DataDir={{ lab_rondb_base }}/data/ndb

{# Fix for VM CPU detection issues #}
AutomaticThreadConfig=0
ThreadConfig=ldm={count=1},main={count=1},io={count=1},tc={count=1}

{# Fix for VM RAM detection issues #}
AutomaticMemoryConfig=0
IndexMemory=64M
StringMemory=16M
SharedGlobalMemory=128M

{# Data Nodes: All MDS nodes except the management node #}
{% for mds_host in groups['mds'][1:] %}
[ndbd]
NodeId={{ loop.index + 1 }}
HostName={{ hostvars[mds_host]['target_ip'] }}

{% endfor %}

{# API/MDS Slots: N+1 slots where N is total MDS nodes #}
{% set total_mds = groups['mds'] | length %}
{% for i in range(total_mds + 1) %}
[mysqld]
{% endfor %}
