[ndb_mgmd]
NodeId={{ rondb_nodeid }}
HostName={{ hostvars[groups['mds'][0]]['target_ip'] }}
DataDir={{ rondb_data }}/mgmd

[ndbd default]
{% set data_node_count = groups['mds'] | length - 1 %}
NoOfReplicas={{ 2 if (data_node_count is even and data_node_count > 0) else 1 }}
DataMemory=512M
DataDir={{ lab_rondb_base }}/data/ndb

{# Fix for VM CPU detection issues #}
AutomaticThreadConfig=0
ThreadConfig=ldm={count=1},main={count=1},io={count=1},tc={count=1}

{# Fix for VM RAM detection issues #}
AutomaticMemoryConfig=0
IndexMemory=64M
StringMemory=16M
SharedGlobalMemory=128M

{# Data Nodes: All MDS nodes except the management node #}
{% for mds_host in groups['mds'][1:] %}
[ndbd]
NodeId={{ loop.index + 1 }}
HostName={{ hostvars[mds_host]['target_ip'] }}

{% endfor %}

{# API/MDS Slots: N+20 slots where N is total MDS nodes and 20 is a safe number of spares #}
{% set total_mds = groups['mds'] | length %}
{% set api_slots = (total_mds * 5) + 20 %}
{% for i in range(api_slots) %}
[api]
{% endfor %}
