{%- include 'header.j2' -%}
{%- set ns = namespace(groups={}) -%}

{% if network.type != 'none' %}
{%- for vm in vm_info -%}
  {%- set vm_name = vm.name -%} 
  {%- set group_name = vm.group -%}
  {%- if group_name not in ns.groups -%}
    {%- set ns.groups = ns.groups | combine({ group_name: [] }) -%}
  {%- endif -%}
  {%- set _ = ns.groups[group_name].append({'name': vm_name, 'mvpnet_port' : vm.mvpnet_port, 'physical_host': vm.physical_host, 'ansible_host': vm.ansible_host}) -%}
{%- endfor -%}
{%     else %}
{%- for group_name, hosts in groups.items() -%}
  {%- if group_name not in ['all', 'ungrouped'] -%}
    {%- if group_name not in ns.groups -%}
      {%- set ns.groups = ns.groups | combine({ group_name: [] }) -%}
    {%- endif -%}
    {%- for host in hosts -%}
      {%- set _ = ns.groups[group_name].append({
          'name': host,
      }) -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{%     endif %}

all:      
  vars: 
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
    UNIQUE_TAG: "{{ UNIQUE_TAG }}"
    config_file: "{{ ansible_inventory_sources | first }}"
    system:
{{ system | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% if network.type != 'none' %}
    fstype: "{{ system.type }}"
    fsversion: "{{ system.version }}"
{%     else %}
    fstype: "{{ system.type }}"
    fsversion: "{{ system.version }}"
{%     endif %}
    networking: "{{ network.type }}" 
    image_dir: "{{ image_dir }}" 
{% if network.type == 'mvpnet' %}
    device: "{{ network.mvpnet.device }}"
    pretty_name: "{{ network.type }}_{{ network.mvpnet.host_interface }}_phyhosts_{{ phys_count }}_vms_{{ vms_count }}"
{% elif network.type == 'none' %}
    device: "none"
    pretty_name: "bare_metal_phyhosts_{{ phys_count }}"
    install_playbook: "{{ playbooks.gold_install }}"
    config_playbook: "{{ playbooks.cluster_config }}"
    bootstrap_cluster: "{{ playbooks.bootstrap_cluster }}"
    network:
      type: "{{ network.type }}" 
{% if playbooks.cluster_test is defined %}
    test_playbook: "{{ playbooks.cluster_test }}"
{% endif %}
{% else %}
    device: "{{ libvirt.name }}"
    pretty_name: "{{ network.type }}_{{ libvirt.name }}_phyhosts_{{ phys_count }}_vms_{{ vms_count }}"
{% endif %}
  children:
{% for group, node_list in ns.groups.items() %}
    {{ group }}:
      hosts:
{%   for node in node_list %}
        {{ node.name }}:
{%     if network.type == 'mvpnet' %}
          ansible_host: "127.0.0.1"
          ansible_port: {{ node.mvpnet_port }}
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyJump={{ node.physical_host }}'
          mvpnet_ip: "{{ node.ansible_host }}"
{%     elif network.type != 'none' %}
          ansible_host: "{{ node.ansible_host }}"
{%     endif %}
{%   endfor %}
{% endfor %}
