TESSI Summary
==================

Hostname: {{ ansible_hostname }}
Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

Filesystem Type: {{ fstype }}
Filesystem Version: {{ fsversion }}
Networking: {{ networking }}

Unique Tag: {{ UNIQUE_TAG }}
System Description: {{ pretty_name }} 

User: {{ ansible_user_id }}
OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
Kernel: {{ ansible_kernel }}
Python: {{ ansible_python.version }}

