// Jinja2 Template for DOT Graph
digraph VM_Network {
    {% for host in groups['physical_hosts'] %}
      {% set host_data = hostvars[host] %}
      subgraph cluster_{{ host }} {
          label = <<B><U>Host: {{ host }} ({{ host_data.ansible_default_ipv4.address }})</U></B>>;
          style = filled;
          color = lightgrey;

          // Define VMs and connections to Libvirt networks
          {% for vm in host_data.matching_vms %}
            {% set ip = host_data.vm_ips[vm] | first %}
            "{{ vm }}_{{ host }}" [label="VM: {{ vm }}\n{{ ip }}", shape=box];
            "{{ vm }}_{{ host }}" -> "{{ host_data.valid_libvirt_network }}_{{ host }}" [style=solid];
          {% endfor %}

          // Define Bridge and its connection to WireGuard
          "{{ host_data.bridge_name }}_{{ host }}" [label="Bridge: {{ host_data.bridge_name }}\n{{ host_data.bridge_ip }}", shape=ellipse, color=darkgreen];

          // Define Libvirt network and its connection to Bridge
          "{{ host_data.valid_libvirt_network }}_{{ host }}" [label="Libvirt: {{ host_data.valid_libvirt_network }}", shape=note, color=orange];
          "{{ host_data.valid_libvirt_network }}_{{ host }}" -> "{{ host_data.bridge_name }}_{{ host }}" [style=dotted];
      }
    {% endfor %}

}

