[defaults]
stdout_callback = debug
callbacks_enabled = profile_tasks
host_key_checking = False
log_path = ./ansible.log

[persistent_connection]
connect_timeout = 30
connect_retries = 5
connect_interval = 5

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=60
ansible_ssh_common_args = -o UserKnownHostsFile=/dev/null
