nc meta00 8008
nslookup meta00
dig meta00
ip r
ip addr show

# figure out who is listening to which ports
lsof -i -P -n | grep LISTEN

Seems to be some problem with the networking.
The guests have two network interfaces. 
1. The default one that libvirt gives them
2. The hostonly-net that I create for the cluster
Sometimes they seem to not be able to reach each other.
So I'm going to try to change their default network.
Actually first I'm just going to try to use these values in the beegfs conf files:
connRestrictOutboundInterfaces=true
connInterfacesList=enp8s0
