[defaults]
callbacks_enabled = profile_tasks
log_path = ./ansible.log
remote_tmp = /tmp/.ansible-${USER}
retry_files_enabled = False
host_key_checking = False
[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
